<!DOCTYPE html>
	<head>
		<title>SolarBytes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body style="background-color: #3498db">
		<div class="container">
			<div class="row" align="center" style="margin-top:20px">
				<h1 style="color: #ffffff">SolarBytes Data Visualizer</h1>
			</div>
			<div class="row" align="center">
				<table class="table" style="background-color: #ffffff">
				<thead class="thead-dark">
					<tr>
						<th scope="col">TestDate</th>
						<th scope="col">TestTime</th>
						<th scope="col">Cell</th>
						<th scope="col">Ratio</th>
						<th scope="col">Temperature</th>
						<th scope="col">Humidity</th>
					</tr>
				</thead>
				<tbody>
					{% for row in results %}
					<tr>
						<td>{{row[0]}}</td>
						<td>{{row[1]}}</td>
						<td>{{row[2]}}</td>
						<td>{{row[3]}}</td>
						<td>{{row[4]}}</td>
						<td>{{row[5]}}</td> 
					</tr>
					{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
