<!DOCTYPE html>
	<head>
		<title>SolarBytes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body style="background-color: #3498db">
		<div class="container">
			<div class="row" align="center" style="margin-top:20px">
				<h1 style="color: #ffffff">SolarBytes EDS Testing Screen</h1>
			</div>
			<hr>
			<div class="row" align="center" style="margin-top:20px">
				<a href="/testEDS/12" class="btn btn-info" role="button">Test 1</a>
				<a href="/testEDS/16" class="btn btn-info" role="button">Test 2</a>
				<a href="/testEDS/20" class="btn btn-info" role="button">Test 3</a>
				<a href="/testEDS/21" class="btn btn-info" role="button">Test 4</a>
				<a href="/testEDS/6" class="btn btn-info" role="button">Test 5</a>
				<a href="/testEDS/13" class="btn btn-info" role="button">Test 6</a>
				<a href="/testEDS/19" class="btn btn-info" role="button">Test 7</a>
				<a href="/testEDS/26" class="btn btn-info" role="button">Test 8</a>
			</div>
			<div class="row" align="center">
				<a href="/data/table/10" class="btn btn-info" role="button" style="margin-top:20px">See Data</a>
			</div>
		</div>
	</body>
</html>
