<!DOCTYPE html>
	<head>
		<title>SolarBytes</title>
	</head>
	<body>
		<h1>SolarBytes EDS Testing Screen</h1>
		<hr>
		<div id="content"></div>
		<form action="/testEDS/12" method="get">
			<input type="submit" value="Test Cell 1" />
		</form>
		<form action="/testEDS/16" method="get">
			<input type="submit" value="Test Cell 2" />
		</form>
		<form action="/testEDS/20" method="get">
			<input type="submit" value="Test Cell 3" />
		</form>
		<form action="/testEDS/21" method="get">
			<input type="submit" value="Test Cell 4" />
		</form>
		<form action="/testEDS/6" method="get">
			<input type="submit" value="Test Cell 5" />
		</form>
		<form action="/testEDS/13" method="get">
			<input type="submit" value="Test Cell 6" />
		</form>
		<form action="/testEDS/19" method="get">
			<input type="submit" value="Test Cell 7" />
		</form>
		<form action="/testEDS/26" method="get">
			<input type="submit" value="Test Cell 8" />
		</form>
		<!-- scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
		<script type="text/jsx">
			var solarGreet = React.createClass({
				render: function() {
					return (<h2>SolarBytes</h2>);
				}
			});

			ReactDOM.render(
				React.createElement(solarGreet, null),
				document.getElementById('content')
			);
		</script>
	</body>
</html>
