<!DOCTYPE html>
	<head>
		<title>SolarBytes</title>
	</head>
	<body>
		<h1>SolarBytes EDS Testing Screen</h1>
		<hr>
		<form action="/testEDS/12" method="get">
			<input type="submit" value="Test Cell 1" />
		</form>
		<form action="/testEDS/16" method="get">
			<input type="submit" value="Test Cell 2" />
		</form>
		<form action="/testEDS/20" method="get">
			<input type="submit" value="Test Cell 3" />
		</form>
		<form action="/testEDS/21" method="get">
			<input type="submit" value="Test Cell 4" />
		</form>
		<form action="/testEDS/6" method="get">
			<input type="submit" value="Test Cell 5" />
		</form>
		<form action="/testEDS/13" method="get">
			<input type="submit" value="Test Cell 6" />
		</form>
		<form action="/testEDS/19" method="get">
			<input type="submit" value="Test Cell 7" />
		</form>
		<form action="/testEDS/26" method="get">
			<input type="submit" value="Test Cell 8" />
		</form>
	</body>
</html>
