<!DOCTYPE html>
	<head>
		<title>SolarBytes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body style="background-color: #cccdce">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#solarNav" style="background-color:#0066ff;">
						<span class="glyphicon glyphicon-menu-hamburger" style="color:#000000"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="solarNav">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/testEDS">Test</a></li>
						<li><a href="/data/table">Data</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row" align="center">
				<h1 style="color: #000000">SolarBytes EDS Testing Screen</h1>
			</div>
			<hr>
			<div class="row" align="center" style="margin-top:20px">
				<div class="col-sm-1"></div>
				<div class="col-sm-4" style="background-color:#ffffff;height:200px">
					<h3>Initiate Test</h3>
					<hr>
					<a href="/testEDS/12" class="btn btn-info" role="button">Test 1</a>
					<a href="/testEDS/16" class="btn btn-info" role="button">Test 2</a>
					<a href="/testEDS/20" class="btn btn-info" role="button">Test 3</a>
					<a href="/testEDS/21" class="btn btn-info" role="button">Test 4</a>
					<a href="/testEDS/0" class="btn btn-info" role="button">Test All</a>
				</div>
				<div class="col-sm-2"></div>
				<div class="col-sm-4" style="background-color:#ffffff;height:200px">
					<h3>Test Status</h3>
					<hr>
					<h4><b>{{ testStatus }}</b></h4>
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>
	</body>
</html>
